:root{
    --backgroundColor:#0C1D36;
    --secondaryColor:#f9f9f9;
    --accentuation:#F9CC0B;

}

*{
    font-family: Almarai,Arial;
}

/*NAV BAR STYLING*/
header{

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondaryColor);
  font-family: Almarai,Arial;

  border-bottom:0.1px var(--backgroundColor) solid;
  margin: -10px;
  margin-bottom: 20px;
  
}

body{
    background-color: var(--backgroundColor);
}


a{
 color: var(--backgroundColor);
 text-decoration: none;
}

.link{
    transition: all ease 0.5s;
    border-radius: 20px;
}



.link:hover{
        background-color: var(--backgroundColor);
        color: var(--secondaryColor);
        padding: 6px 18px;
 }


ul{
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 20px;
    float: right;
    margin-right: 40px;

   

    
}



.icon{
    width: 30px;
}

.logo{
    
    display: flex;
    align-items: center;
    margin-left: 40px;
   
}

.signInBtn{
    padding: 6px 18px;
    border-radius: 20px;
    border: none;

    font-family: Almarai,Arial;
    font-weight: 700;
    font-size: 14px;
    background-color: var(--backgroundColor);
    color: var(--secondaryColor);

    cursor: pointer;

    
}

.registerBtn{
    padding: 6px 18px;
    border-radius: 20px;
    border: none;

    font-family: Almarai,Arial;
    font-weight: 700;
    font-size: 14px;
    background-color: var(--secondaryColor);
    color: var(--backgroundColor);

    cursor: pointer;
    transition: all ease 0.5s;

    
}

.registerBtn:hover{
    background-color: #e3e1e17e;
}


/*DETAIL PAGE STYLING*/

.detailCourseContainer{
    display: flex;
    align-items: center;
    color: var(--backgroundColor);
    background-color: var(--secondaryColor);
    width: 900px;
    font-family: Almarai,Arial;
    padding: 20px;

    margin-left: 40px;

    border-radius: 8px;

    img{
        border-radius: 10px;
    }
}

.detailCourseTxt{

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-left: 20px;

    p{
        font-size: 25px;
        font-weight: 600;
        margin-top: -10px;
    }

    h2{
        font-size: 30px;
    }

    button{
        padding: 8px;
        width: 200px;
        margin-bottom: 20px;
        border-radius: 20px;

        background-color: var(--accentuation);
        color: var(--secondaryColor);

        font-family: Almarai,Arial;
        font-size: 14px;
        font-weight: 700;
        border: none;

        cursor: pointer;

        transition: background-color ease 0.5s;
    }

    button:hover{
        background-color: var(--backgroundColor);
    }

    .cartBtn{
        background-color: var(--backgroundColor);
    }

    .courseDescription{

        font-size: 12px;

        font-weight: Regular;

        font-family: Almarai;

        line-height: 18px;

        width: 400px;

        margin-bottom: 40px;

        margin-top: 10px;

        border: var(--backgroundColor) 0.1px solid;
        border-radius: 10px;
        padding: 10px;
    }
}

.reviewContainer{
    margin-top: 60px;
    margin-left: 40px;
    color: var(--backgroundColor);
    background-color: var(--secondaryColor);
    display: flex;
    column-gap: 100px;

    width: 500px;
    padding: 30px;

    border-radius: 10px ;

    p{
        margin-top: -5px;
    }


    
}

.reviewerName{
    display: flex;
    justify-content: left;
    align-items: center;
    
    img{
        border-radius: 40px;
    }

}

.reviewInfo{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
    
    p{
        margin-top: -15px;
    }
}


.starBtn{
    background: transparent;
    border: none;
    cursor: pointer;
}

/*CONTACT PAGE STYLING*/

.contactBox{

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    row-gap: 4px;

    width: 500px;

    color: var(--backgroundColor);

    background-color: var(--secondaryColor);

    border: 1px solid var(--secondaryColor);
    border-radius: 10px;

    padding: 20px;


    input{
        border-radius: 5px;
        padding: 15px;
        border:#0C1D36 solid 1px;
    }

    iframe{
        border: none;

        width: 400px;
        height: 200px;
        border-radius: 10px;
    }
}

.contact{
    display: flex; 
    justify-content: center;
    align-items: center;
}   

.contactContainer{
    display: flex;

    column-gap: 40px;
}

.sendBtn{
    padding: 15px 30px;
    border-radius: 10px;
    
    font-family: Almarai,Arial;
    font-weight: 700;

    font-size: 16px;

    color: var(--secondaryColor);
    background-color: var(--accentuation);
    border: none;

    cursor: pointer;

    transition: all ease 0.5s;
}

.sendBtn:hover{
    color: var(--secondaryColor);
    background-color: var(--backgroundColor);
}

.venuesContainer{
    display: flex;

    column-gap: 40px;
}


