:root{
    --backgroundColor:#0C1D36;
    --secondaryColor:#f9f9f9;
    --accentuation:#F9CC0B;

}

header{

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondaryColor);
    font-family: Almarai,Arial;
  
    border-bottom:0.1px var(--backgroundColor) solid;
    margin: -10px;
    margin-bottom: 20px;
    
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 20px;
    float: right;
    margin-right: -60px;
}
body{
    background-color: var(--backgroundColor);
}


a{
 color: var(--backgroundColor);
 text-decoration: none;
}
.icon{
    width: 30px;
}

