:root{
    --backgroundColor:#0C1D36;
    --secondaryColor:#f9f9f9;
    --accentuation:#F9CC0B;

}

header{

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondaryColor);
    font-family: Almarai,Arial;
  
    border-bottom:0.1px var(--backgroundColor) solid;
    margin: -10px;
    margin-bottom: 20px;
    
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 20px;
    float: right;
    margin-right: -60px;
}
body{
    background-color: var(--backgroundColor);
}


a{
 color: var(--backgroundColor);
 text-decoration: none;
}
.icon{
    width: 30px;
}

h1,h2{
    color: #f9f9f9; text-align: center; 
    text-decoration: underline;
}

p{
    color: #f9f9f9;
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 20px
}

.mainimage{
    display: flex;
    justify-content: left;
    align-items: center;
}

.reviews{
    display: block;
    justify-content: left;
    align-items: center;
}
.reviews{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--backgroundColor);
    width: auto;
    height: auto;
    padding: 10px;
    margin-top: 20px;
}
